.Notification {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
}

.Notification--Success {
  background: seagreen;
  color: white;
}

.Notification--Error {
  background: indianred;
  color: white;
}
