body {
    font-family: 'Roboto', sans-serif;
}

.App__Pagination {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App__Header {
    text-align: center;
}