body {
  font-family: 'Roboto', sans-serif;
}

.Home__Pagination {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__Header {
  text-align: center;
}

.Home__ButtonGroup {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 1rem;
}
